
<<<<<<< HEAD
#home{
  margin-top:-800px;
  height:80vh;
}
#banner{
  margin-top:350px; 
}
=======
>>>>>>> f3fe731cec13294aa938c2594da324a579084c5f
body {
  margin: 0;
  padding: 0;
  height: 50dvh;
  overflow: y- auto;
  margin-bottom:50px;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Set bottom to 0 to cover the whole height */
  padding: 0 10px; /* Adjust the left and right padding as needed */
  width: 100%;
  height:100%;
  background-image: url('./download.jpg'); /* Absolute path to the image */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#home-content {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh;  */
  height:50 px;

  
  /* justify-content: space-between; */
  margin-top:250px;
  /* margin-bottom:-100px; */
  width:80%;
  margin-left:50px;

  
}

.text-container {
  text-align: justify;
  color: black;
  opacity: 0;
  animation: fadeInUp 1.5s 1.5s ease-out;
  transition: opacity 0.5s, transform 0.5s;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  width:100%;
  /* width: calc(100% - 40px);  */
  max-width: 1425px;
  margin-right:40px;
  margin: auto; /* Center the text container */
  animation: colorChange 5s infinite alternate; 
  margin-bottom:1100px;
  margin-top:-70px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
  transition: opacity 0.5s;
} */

button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

 
}

button:hover {
  background-color: #2980b9;
}
#skills{
  /* height:50px; */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 10px; /* Adjusted size */
 
}


