:root {
    --btn-clr: rgb(58, 143, 255);
    --border-clr: rgba(100, 100, 100, 0.318);
    --logout-button-size: 36px;
    --font-size-default: 16px;
    --font-size-large: 32px;
    --margin-default: 10px;
}

nav, ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li span {
    margin-left: 10px;
    align-items: center;
}

nav ul li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px; 
    width: 80vw;
    height : 6vw;
    margin-top: 25px; /* Adjusted margin-top */
    border-radius: 35px; /* Adjusted border-radius */
    position: absolute;
    top: 0;
    background-color: white;
    box-shadow: rgba(67, 71, 85, 0.192) 0px 0px 0.25em, rgba(90, 124, 188, 0.027) 0px 0.25em 1em;
    flex-wrap: wrap;
}

h1, li {
    font-size: var(--font-size-default);
    display: flex; /* Add this line */
    align-items: center; /* Add this line */
}

h1 {
    font-size: var(--font-size-large);
}

li {
    font-weight: 500;
    list-style: none;
}

#logout:hover {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.196);
    padding: auto;
}
.history-popup {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width:200px; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    border-radius: 10px; /* Adjust as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adjust as needed */
    overflow-y: auto; /* Add a scrollbar if the content is too long */
}
.history-popup ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

.history-popup ul li {
    display: block; /* Display the list items in a vertical list */
    padding: 10px 0; /* Add some vertical padding between list items */
    border-bottom: 1px solid #ddd; /* Add a bottom border to each list item */
}

.history-popup ul li:last-child {
    border-bottom: none; /* Remove the bottom border from the last list item */
}
#logout-button {
    background-color: rgb(255, 34, 0);
    width: var(--logout-button-size);
    height: var(--logout-button-size);
    text-align: center;
    padding-bottom: var(--margin-default);
    border: transparent;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#logout-button:active {
    scale: 0.85;
}

#logout-button:hover {
    background-color: rgba(255, 0, 0, 0.361);
}

#logout-button i {
    margin-left: 2px;
    margin-bottom: 2px;
}

.header {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    h1, ul {
        margin: 0 auto;
    }
}
