
  .footer {
    position: fixed; 
    bottom: 0;
    width: 10%;
    background-color: rgba(95, 96, 99, 0.5);
    padding: 10px;
    text-align: center;
    height : 8%;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .contact-details a {
    text-decoration: none;
    color: #333;
  }
  
  .contact-details i {
    font-size: 20px;
    margin-right: 5px;
  }