
 body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px; /* Adjust the left and right padding as needed */
  width: 100%;
  height: 100%;
  background-image: url('./download.jpg'); /* Absolute path to the image */
  background-size: cover;
  background-position: center;
  z-index: -1;}
